<ul>
    <li><img src="../assets/angular.png" width="50"></li>
    <li><a [routerLink]="['/']" routerLinkActive="router-link-active">Module Federation with Angular</a></li>
    <li><a [routerLink]="['/config']" routerLinkActive="router-link-active">Config</a></li>
</ul>

<section>
    <header>
        <h1>Settings from HOST</h1>
    </header>

    <form (ngSubmit)="setPatientFilters(age.value, date.value)" novalidate>
        <input type="text" placeholder="enter age" #age />
        <input type="text" placeholder="enter date" #date />
        <button type="submit">Set filters</button>
    </form>

    <div class="vertical-menu">
        <h2>App menu</h2>
        <a [routerLink]="['/patients']" routerLinkActive="router-link-active">Patients</a>
        <a [routerLink]="['/meetings']" routerLinkActive="router-link-active">Meetings</a>
        <a [routerLink]="['/config']" routerLinkActive="router-link-active">Config</a>
    </div>
</section>


<router-outlet></router-outlet>